name: Deploy Backend

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  # JOB 1: MIGRATE DATABASE
  migrate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Run Prisma Migration
        # We added -mod=mod here to bypass the vendor folder
       run: go run -mod=mod github.com/steebchen/prisma-client-go db push --skip-generate
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

  # JOB 2: DEPLOY TO RAILWAY
  deploy:
    needs: migrate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Railway CLI
        run: npm install -g @railway/cli

      - name: Deploy
        run: railway up --service ${{ secrets.RAILWAY_SERVICE_NAME }} --detach
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}